<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CameraCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CameraCapture.Properties.Settings>
            <setting name="Hue_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hue_Max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sat_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sat_Max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Value_Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Value_Max" serializeAs="String">
                <value>0</value>
            </setting>
        </CameraCapture.Properties.Settings>
    </userSettings>
</configuration>